body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,blockquote {margin:0;padding:0}
img {border:none}

p {text-indent:30px; margin:10px 0; padding:0}
body {color:#334654; background:url('images/bg1.jpg') no-repeat center top /*#0c1318*/ #fff; background-attachment: fixed; font:15px/1.5 Arial, sans-serif; margin-top:10px;}

a:link, a:visited  {color:#006699; text-decoration:underline}
a:hover, a:active {color:#05679d; text-decoration:underline}

/* ------------------------ Стандартные классы ------------------------ */

.clear{clear:both; height:1px; font-size:1px; line-height:1px}
.float-left {float:left}
.float-right {float:right}

.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.text-justify {text-align:justify}

.display-block {display:block}
.display-none {display:none}

.overflow {overflow:hidden; height:1%}

input[type="text"], input[type="password"] {
    border:1px solid #abadb3;
    padding:2px;
}
   
h1 {font-size:19px; font-weight:normal; color:#1478b7}
h2, .h2style {font-size:20px; padding-bottom:0px; margin-bottom:0px; margin-top:20px; line-height:19px; color:#006699; font-weight:normal}
h3 {font-size:13px;}
.small {font-size:11px; margin-bottom:5px;}

.wrap {
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	backgroundf:#fff;
	box-shadow: -18px 0 1px -17px #4d7198, 18px 0 1px -17px #4d7198;
	/*border-left : 1px solid #4d7198;
	border-right : 1px solid #4d7198;*/
}



#header {
    background:#f9f9f9;
    padding:15px 20px 15px 20px;
	overflow:hidden;
	border-top:5px solid #053c66;
}

#head_logo {
    position:relative;
    font-family:Arial;
    font-size:18px;
    margin:0 auto;
    bottom:350px;
}

#center {
    overflow:hidden;
    text-indent: 20px;
}

ul#menu, ul#menufooter {margin:0; padding:0;}
ul#menu {background:url('images/menu_leftbg.jpg') no-repeat left top #d6d6d6; overflow:hidden; font-size:13px; color:#797979; margin:0px 0 0 195px; padding-left:45px}
ul#menu li {margin:0; padding:0; list-style:none; float:inherit;}
ul#menu li a {display:block; color:#555555; text-decoration:none}
ul#menu li a:hover {background:#c7c7c7;}
ul#menu li a.current {background:url('images/menu_lc.png') no-repeat left top; color:#fff; padding:8px 0px 7px 0px;}
ul#menu li a.current div {background-color:#0074b7;padding:8px 0px 7px 0px; margin:0 38px;}
ul#menu li a.current span {background:url('images/menu_rc.png') no-repeat right top; padding:8px 0px 7px 0px;}

#menu {
	background:url('images/menu_leftbg.jpg') no-repeat left top #c1c1c1; 
	font-size:13px; 
	color:#797979; 
	margin:10px 0 0 195px; 
	padding-left:45px;
	
}
#menu .item {
	display: -moz-inline-stack;
	display: inline-block;
	color: black;
    margin-right:38px; 
	text-decoration:none;
}
* html #menu .item {
	width: 1%;
	white-space: nowrap;
	
}
#menu .item span {
	position: relative;
	display: block;
	padding: 9px 0 8px 0;
	background:#c1c1c1;
	color:#333;
}
#menu .item:hover span {
	background:#7d7d7d;
	color:#fff;
}
#menu .current span, #menu .current:hover span {
	background: url("images/menu_center.png");
	color:#fff;
    margin-right:1px;
}
#menu .item ins.child {
	display: block;
	width: 38px; height: 36px;
	position: absolute;
	top: 0;
}
#menu .item ins.child.left {
	left: -38px;
	background: url("images/menu_lc2.png");
}
#menu .item ins.child.right {
	right: -38px;
	background: url("images/menu_rc2.png");
}
#menu .item:hover ins.child.left {
	background: url("images/menu_lc3.png");
}
#menu .item:hover ins.child.right {
	background: url("images/menu_rc3.png");
}
#menu .current ins.child.left, #menu .current:hover ins.child.left {
	background: url("images/menu_lc.png");
}
#menu .current ins.child.right, #menu .current:hover ins.child.right {
	background: url("images/menu_rc.png");
}
			
ul#menufooter li {margin:0; padding:0; list-style:none; float:left;}
ul#menufooter li a {display:block; margin-right:20px; color:#999;}
ul#menufooter li a:hover {color:#555}

#content, #left {
    float:left; 
    text-align:left;
}
#body1 {
    border:1px solid black; border-color:#4d7198;
}

#left {
    width:220px;
    margin-right:10px;
}

#left .zagg a {
    color:#fff;
    text-decoration:none;
}

#content {
    width:760px;
	margin-right:8px;
}

#content p {
    padding-left:20px;
    text-indent: 0px;
}
#footer {
	padding:0 10px 0 20px; color:#555142
}
#footer li ,#footer ul{margin:0; padding:0; list-style:none;}
#footer ul {margin-top:10px;}
#footer a{
    font-size:12px;
    text-decoration:none;
    color:#706c5b
}
#footer a:hover {
    color:#3c351c
}

ul.schoollist {margin:0; padding:0; font-size:12px; padding:10px 10px 10px 15px; background:url('images/schoollist_bgfooter.jpg') no-repeat right bottom #e6e6e6}
ul.schoollist li {list-style:none;}
ul.schoollist li a {display:block; padding:3px 10px; text-decoratifon:none}
ul.schoollist li a:hover{backgroufnd:#d5d5d5; color:#111; mfargin-left:3px;}
ul.schoollist li.all a {color:#444; margin-top:5px; font-size:11px; margin-left:0}

.path {margin-left:30px; font-size:11px; color:#777; margin-bottom:10px;}
.path a {color:#777}

.listschool {background:#f3f3f3; margin-top:3px; overflow:hidden; border-radius:7px; box-shadow:inset 1px 1px 1px #fff; border:1px solid #f3f3f3}
.listschool:hover {background:#eaeaea; border-color:#f3f3f3}
.listschool .number {background:#ccc; border-radius:13px; text-shadow:1px 1px 1px #fff; box-shadow:inset 1px 1px 1px #777, 1px 1px 1px #fff; float:left; width:25px; height:20px; margin-left:5px; margin-top:2px; font-size:11px; padding-top:5px; color:#444; text-align:center}
.listschool .nameschool {float:left; margin-top:4px; margin-left:12px;}
.listschool .nameschool a {text-decoration:none; font-size:14px; font-weight:bold; text-shadow:1px 1px 1px #fff;}
.listschool .nameschool a:hover {text-decoration:underline}
.listschool .advanced_button {float:right; font-size:11px; padding:7px 10px 0 10px; height:22px;}
.listschool .advanced_button a.adva {text-decoration:none; border-bottom:1px dashed #98c4da;}
.gold {background:#f9e5a1; box-shadow:inset 1px 1px 1px #fff; border:1px solid #f9e5a1}
.gold:hover {background:#f8e08e; border-color:#f9e5a1}
.gold .number {background:#ba8d4d; color:#fff; text-shadow:1px 1px 1px #7e5821; box-shadow:inset 1px 1px 1px #7e5821, 1px 1px 1px #fff;}
.gold .nameschool a {color:#7e5821; font-weight:bold;  text-shadow:1px 1px 1px #fff;}
.gold .advanced_button a.adva {color:#7e5821; border-color:#7e5821}

.advanced {background:#3b5c75; color:#fff; font-size:12px; margin-left:40px; margin-right:10px; margin-bottom:10px; padding:10px; display:none; overflow:hidden}
.advanced a.perehod {font-size:11px; color:#f0db4d; float:right}

.adminpanel a {color:#ccc}
.adminpanel a:hover {color:#fff}

.contactinfo {background-color:#eee; padding:15px 20px; margin-botftom:15px;}
.contactinfo ul {margin:10px 40px; padding:0;}

.cp {background-color:#85b226; margin-top:10px; padding:5px 15px; margin-bottom:15px; text-align:right; color:#fff}
.cp a {font-size:16px; font-weight:bold; color:#fff}

input[type="text"].edit, textarea.edit, select.edit {padding:10px; color:#777; width:600px; margin-bottom:15px;}
input[type="submit"].edit {padding:10px 50px; margin-right:20px;}

a.map {text-decoration:none; border-bottom:1px dotted #006699;}

.photos {margin-top:15px; overflow:hidden; padding:6px 0; border-top:2px solid #dcdcdc; border-bottom:2px solid #dcdcdc}
.photos div {display:block; text-align:center; margin:0 9px; float:left}
.photos a img {display:block}

.bigh1 {font-size:33px; font-weight:bold; margin:0px 10px; color:#fff; padding-left:10px;}

.zagolok {background:#379EDB; padding:2px; margin:15px 0;}

.files a.price {background:url('images/excel.png') no-repeat 10px center;}
.files a.schedule {background:url('images/schedule.png') no-repeat 10px center;}
.files a.sertif {background:url('images/sertif.png') no-repeat 10px center;}
.files {overflow:hidden; margin-bottom:10px;}
.files a {display:block; float:left; padding:8px 54px; margin-right:10px; line-height:15px; font-weight:bold; text-decoration:none}
.files a span {display:block; font-size:10px; font-weight:normal; color:#555}
.files a:hover {background-color:#eee}

.newsurl a {text-decoration:none; color:#5c5c5c; border-bottom:1px dotted #888}
.newsurl2 a {color:#5c5c5c;}

.newsbox {border-bottom:1px solid #c6d5de; padding-bottom:10px; background:#f2f5f6}
.newsbox:hover {background:#ebf1f3}

.ntitle {font-size:11px; color:#777; margin-top:10px;}
a.nlist {display:block; background:#f6f6f6; font-size:12px; padding:10px; margin-bottom:10px; border-top:1px solid #ccc; text-decoration:none; color:#777; margin-top:3px;}
a.nlist:hover {background:#eee; color:#555}

ul.menuschool {
    overflow:hidden;
    margin:0;
    padding:0;
    margin-bottom:10px;
}
ul.menuschool li {
    float:left;
    list-style:none;
    padding:5px 10px;
    margin-right:2px;
}
ul.menuschool li a {
    text-decoration:none;
    border-bottom:1px dotted #555;
    color:#555;
}
ul.menuschool li.current {
    background:#fff;
    color:#fff;
    border-top:1px solid #ccc;
}
ul.menuschool li.current a {
    color:#555;
    border-bottom:1px solid #fff;
}

.text-center {
	text-align : center;
}

.bigform
{
    background: url(images/bgauto1.jpg) left top no-repeat;
    height: 603px;
	position : relative;
}

.eTimer .etUnit .etNumber {width: 50 px;}

.bigform div.header
{
   color: #57b0ff;
   font-size: 24px;
   text-align: center;
   padding: 10px;
   text-align: center;
   background: #0066cc; 
   padding: 5px 1px; 
   color: #ffffff;">span</span> 
    
}
.bigform .form_calc
{
    width: 480px;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
     background-color: rgba(255, 255, 255, 0.8);
}
.bigform .first_form {
	left : 500px;
    top : 70px;
}
.bigform .second_form {
	width : 470px;
	left : 10px;
	top : 70px;
	padding-left : 5px;
	padding-right : 5px;
}
.bigform .form_calc .row
{
    overflow: hidden;
    padding: 15px 0;
}
.bigform .form_calc .row .left label
{
    font-size: 14px;
    font-weight: bold;
    color: #535252;
    
}
.bigform .form_calc .row .left
{
    float: left;
    width: 135px;
    padding-right: 10px;
    padding-top: 2px;
}
.bigform .form_calc .header_form
{
    color: #535252;
    font-size: 18px;
	text-align : center;
    
}
.bigform .form_calc .row .right
{
      float: right;
      width: 320px;
}
.bigform .second_form .row .right
{
      float: right;
      width: 320px;
}
.bigform .form_calc .button
{
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #535252;
    text-decoration: none;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #c9c9c9;
    background: #efefef;
    margin-bottom: 2px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
    margin-right: -2px;
    
}
.bigform .form_calc .button:hover, .bigform .form_calc .button.active
{
   
    background: #f9e5a1;
    border-color: #e7d081;
    box-shadow: inset 0px 0px 5px 0px rgba(255, 240, 187, 0.08);
}
.bigform .form_calc .other
{
    padding: 15px 0 5px;
}
.bigform .form_calc .other input
{
    border: 1px solid #acacac;
    padding: 8px;
}
.bigform .form_calc .other label
{
    padding-right: 8px;
}
.bigform .form_calc .row .calc_button
{
    background: #178bcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #178bcd 0%, #0075b8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#178bcd), color-stop(100%,#0075b8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #178bcd 0%,#0075b8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#178bcd', endColorstr='#0075b8',GradientType=0 ); /* IE6-9 */
    width: 220px;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 0;
    border: 1px solid #26698f;
    border-radius: 7px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: center;
}

.bigform .number_form
{
    display: none;
    position:absolute;
}
.bigform .first_number {
	left : 500px;
    top : 70px;
}
.bigform .second_number {
	width : 470px;
	left : 10px;
	top : 70px;
}
.bigform .number_form .result_header
{
   color: #535252;
   font-size: 30px;
   text-align: center;
   padding: 15px;
   /*padding-left: 55px;*/
   background: url(images/arrow_green.png) 85px center no-repeat;
    
}

.bigform .number_form .number 
{
    padding: 25px 0px;
    overflow: hidden;
	text-align : center;
}
.bigform .number_form .number .tel
{
	display : inline-block;
    /*float: right;*/
    font-size: 24px;
     color: #aaa9a9;
     
}
.bigform .number_form .number input
{
     font-size: 24px;
     color: #aaa9a9;
     width: 220px;
     padding: 10px;
     border-radius: 8px;
     border: 1px solid #acacac;
      font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.bigform .number_form .number label
{
	display : inline-block;
    font-size: 24px;
    color: #535252;
    /*float: left;*/
    width: 130px;
    padding-top: 7px;
}
.bigform .number_form .wrap_button
{
    text-align: center;
}
.bigform .number_form .sale_button
{
    background: #178bcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #178bcd 0%, #0075b8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#178bcd), color-stop(100%,#0075b8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #178bcd 0%,#0075b8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#178bcd', endColorstr='#0075b8',GradientType=0 ); /* IE6-9 */
    width: 370px;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 0;
    border: 1px solid #26698f;
    border-radius: 7px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: center;
    margin-bottom: 15px;
}
/**********popup links**********/
.link_group {
margin:0px auto;
width:555px;
text-align:right;
}
.link_group a {
margin:0px;
color:#000;
font-weight:bold;
display:inline-block;
vertical-align:top;
*display:inline;
*zoom:1;
position:relative;
right:158px;
text-decoration:none;
text-transform:uppercase;
behavior: url(PIE.htc);
}
.link_group a:hover {
color:#cc0000;
}


/**********All styles popup**********/
.popup {
padding:5px 15px 15px;
position:fixed;
top:100px;
left:50%;
display:none;
overflow:hidden;
border:1px solid #ccc;
background:#fff;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
z-index:100;
behavior: url(PIE.htc);
}
.popup h2 {
font:bold 18px/32px Arial, san-serif;
}
.popup a.close {
width:16px;
height:16px;
display:block;
text-indent:-9999px;
position:absolute;
top:10px;
right:10px;
background:url(/pop/images/close.png) no-repeat;
}

/**********popup with form**********/
.reg_form {
margin-left:-200px;
width:450px;
height:255px;
}
.reg_form form {
margin-top:10px;
}
.reg_form label {
width:100px;
height:26px;
font:bold 12px/26px Arial, san-serif;
display:inline-block;
vertical-align:top;
*display:inline;
*zoom:1;
}
.reg_form input[type=text], .reg_form input[type=password] {
margin-bottom:10px;
padding:0 3px;
width:274px;
height:22px;
font:bold 12px/26px Arial, san-serif;
border:1px solid #ccc;
}
.reg_form input[type=submit] {
margin:10px 15px 0 0;
padding:3px 10px;
float:right;
background:#ccc;
border:0;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
font:bold 10px Arial, san-serif;
text-transform:uppercase;
position:relative;
cursor:pointer;
behavior: url(PIE.htc);
}
.reg_form input[type=submit]:hover {
color:#fff;
}
/**********overlay styles**********/
#overlay {
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
display:none;
background:#000;
opacity:.8;
}

.button10 {
      background: #178bcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #178bcd 0%, #0075b8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#178bcd), color-stop(100%,#0075b8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #178bcd 0%,#0075b8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #178bcd 0%,#0075b8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#178bcd', endColorstr='#0075b8',GradientType=0 ); /* IE6-9 */
    width: 200px;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 0;
    border: 1px solid #26698f;
    border-radius: 7px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: center;
}
.form-container {
   border: 1px solid #474747;
   background: #b7c6d9;
   background: -webkit-gradient(linear, left top, left bottom, from(#b7c6d9), to(#b7c6d9));
   background: -webkit-linear-gradient(top, #b7c6d9, #b7c6d9);
   background: -moz-linear-gradient(top, #b7c6d9, #b7c6d9);
   background: -ms-linear-gradient(top, #b7c6d9, #b7c6d9);
   background: -o-linear-gradient(top, #b7c6d9, #b7c6d9);
   background-image: -ms-linear-gradient(top, #b7c6d9 0%, #b7c6d9 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
   

.form-field {
    border: 1px  #474747;
   background: #ffffff;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #474747;;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:200px;
   height: 35px;
   font-size: 25px;
   }
.form-field:focus {
   background: #ffffff;
   color: #474747;
    font-size: 25px;
   }
.form-container h2 {
   text-shadow: #474747 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #474747;
   text-shadow: #474747 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 3px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 3px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 3px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
   #tel_ins{
    align:left;
     border: 1px  #474747;
   background: #ffffff;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #474747;;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:180px;
   height: 25px;
   font-size: 25px;
   }
   #tel_ins:focus{

     background: #ffffff;
   color: #474747;
    font-size: 25px;
   }

   /* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}

/* demo контейнер */
.demo {
    margin: 5% 10%;
}

@import url(reset.css);
body{
    width: 100%;
}
.wrapper{
    width: 454px;
    margin: 72px auto;
    margin-left: 10px;
}
    .form{
        width: 300px;
        margin: 40px auto;
    }
    #messegeResult{
        border-radius: 25px;
        height: 100px;
        width: 260px;
        background: url(../img/messege.png) no-repeat;
        margin-bottom: 40px;
        margin-left: -102px;
    }
        #messegeResult p{
            color: #fff;
            font: 400 16px 'PT Sans', sans-serif;
            padding: 30px 20px;
            text-align: center;
        }
    #formMain{
        width: 260px;
        margin-left: -102px;
    }

        #formMain input{
            height: 50px;
            border-radius: 25px;
            border: none;
            color: #e8e8e8;
            font: 400 14px 'PT Sans', sans-serif;
        }

        #name{
            width: 240px;
            background: url(../img/name.png) no-repeat;
            margin-bottom: 20px;
            padding-left: 60px;
            color: #e8e8e8;

        }
        #telephone{
            width: 240px;
            background: url(../img/telephone.png) no-repeat;
            margin-bottom: 20px;
            padding-left: 60px;
        }
        #button{
            width: 260px;
            font-size: 16px !important;
            cursor: pointer;
            /*\E3\F0\E0\E4\E8\E5\ED\F2 \E4\EB\FF \EA\ED\EE\EF\EA\E8*/
            background: #0aa7ee; /* Old browsers */
            background: -moz-linear-gradient(top, #0aa7ee 0%, #037bac 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0aa7ee), color-stop(100%,#037bac)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #0aa7ee 0%,#037bac 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #0aa7ee 0%,#037bac 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #0aa7ee 0%,#037bac 100%); /* IE10+ */
            background: linear-gradient(to bottom, #0aa7ee 0%,#037bac 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aa7ee', endColorstr='#037bac',GradientType=0 );
            -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.40);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.40);
        }
            #button:hover{
                
                background: #58ce2c; /* Old browsers */
                background: -moz-linear-gradient(top, #58ce2c 0%, #3fbe10 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58ce2c), color-stop(100%,#3fbe10)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #58ce2c 0%,#3fbe10 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #58ce2c 0%,#3fbe10 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #58ce2c 0%,#3fbe10 100%); /* IE10+ */
                background: linear-gradient(to bottom, #58ce2c 0%,#3fbe10 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ce2c', endColorstr='#518d3a',GradientType=0 );
            }

.bigform .online_form {
	left : 19px;
        top : 70px;
        width: 453px;
}

.calc_button2 {
background: #178bcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #bbd150 0%, #bbd150 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbd150), color-stop(100%,#bbd150)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bbd150 0%,#bbd150 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bbd150 0%,#bbd150 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bbd150 0%,#bbd150 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bbd150 0%,#bbd150 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd150', endColorstr='#bbd150',GradientType=0 ); /* IE6-9 */
width: 256px;
    color:#fff;
    text-decoration:none;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 0;
    border: 1px solid #26698f;
    border-radius: 7px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: center;
margin-left: -286px;
margin-top: 140px;
position: absolute;
height: 25px;
}

.bigform2 div.header
{
   color: #57b0ff;
   font-size: 24px;
   text-align: center;
   padding: 10px;
   text-align: center;
   background: #0066cc; 
   padding: 5px 1px; 
   color: #ffffff;">span</span> 
    
}

 .bigform .online_form {
    left: 19px;
    top: 70px;
    width: 453px;
    height: 488px;
}

.button_id {
margin-left: -500px;
margin-top: 100px;
}

.form_id {
   margin-top: 42px;

}