html, body {margin:0; padding:0}
body {
	color:#444;
	font-family:arial,tahoma;
	font-size:13px;
}

a {color:#000}
a:hover {color:#00607c}
			
#block {
	margin:0 auto;
	border:10px solid #cddee3;
	width:1000px;
}
#block2 {
	border:1px solid #a3bcc3;
	padding:10px;
}
#menu {
	border-bottom:1px solid #d0dee2; padding-bottom:3px; overflow:hidden; margin-bottom:10px;
}
#menu a {color:#0588ae}
#menu a:hover {color:#ae3905}
			
.topics, label, input {cursor:pointer;}
.topics:hover {color:#e14a07}
			
.variant {display:block; padding:10px 3px; background:#f2f5f6; margin-bottom:1px}
.variant:hover {background:#d0e0e4}
			
input[type="submit"]{
	padding:5px 20px;
	margin-right:35px;
}
			
.comment {border-bottom:1px dotted #444; cursor:pointer}