extends layout

block content
  .row
    form.col.s6.offset-s3
      .row
        .input-field.col.s3
          p Категория
        .input-field.col.s9
          input#A.filled-in(type='checkbox' value='A')
          label(for='A')
            span Восточный    
            
