doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
      
    script(src='/javascripts/jquery.min.js')    
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/init.js')
  body
    block nav
    block header     
    block content
    block footer  
      
