footer.page-footer.light-blue.lighten-1
  .container
    .row
      .col.l6.s12
        h5.white-text Автошколы Екатеринбурга
        p.grey-text.text-lighten-4 Выбери автошколу подходящую для себя
      .col.l4.offset-12.s12
        h5.white-text Разделы
        ul
          li
            a.grey-text.text-lighten-3(href='/') Главная
          li  
            a.grey-text.text-lighten-3(href='/schools') Автошколы
          li  
            a.grey-text.text-lighten-3(href='/pdd') Экзамен ПДД онлайн
  .footer-copyright
    .container
      | © 2016-2017 Автошколы Екатеринбурга
      a.grey-text.text-lighten-4.right(href='admin') Панель управления
