extends layout

block nav
  include ./include/nav
block header
  include ./include/header
block content
  .row   
    .col.l3.s12
      p Автошколы Екатеринбурга
      .row
      each school, i in schools.slice(0,5)    
        .col.l1
          =school.number
        .col.l11
          =school.name
          a.secondary-content(href='schools/' + school._id)
            i.material-icons send  
      a(href='/schools') все автошколы
    .col.l6.s12
      h4.
        Автошколы Екатеринбурга
      p Каждый житель Екатеринбурга рано или поздно сталкивается с проблемой выбора автошколы. Хорошо, если кто-то из близких знакомых уже получил права и может порекомендовать автошколу, а если таких знакомых нет? Наш сайт именно для Вас! 
      p На нашем сайте собрана вся интересующая Вас информация обо всех автошколах Екатеринбурга, прошедших Лицензирование! Вы можете узнать категории водительских прав, на которые обучает автошкола, автопарк, адрес, телефон, web-сайт, прочитать отзывы (комментарии) об автошколе и можете посмотреть фотогалерею!
      p Так же Вы можете пройти экзамен 
        a(href='/pdd') ПДД в режиме online.             
block footer
  include ./include/footer  
      
