.card
  .card-image
    img(src='/images/banner.jpg')
    span.card-title Автошкола ДОСААФ
  .card-content
    p Пройди обучение в одной из лучших автошкол города
  .card-action
    a(href='/schools/dosaaf') Подробнее...        
