extends ../layout

block nav
  include ../include/nav
block content
  .row
    .col.l12.center
      h5.
        Все Автошколы Челябинска в одном месте
  .row      
    .col.l10.s12    
      .collection
        each school, i in schools      
          a.collection-item(href='schools/' + school._id)
            =school.number
            | . 
            =school.name
block footer
  include ../include/footer              
