#block {
	margin:0 auto;
	border:7px solid #beced2;
	border-top:0px;
	width:1000px;
}
#block2 {
	border:1px solid #a3bcc3;
	border-top:0px;
	padding:10px;
	background:#fff;
}
#menu_pdd {
	border-bottom:1px solid #d0dee2; padding-bottom:3px; overflow:hidden
}
#menu_pdd a {color:#0588ae}
#menu_pdd a:hover {color:#ae3905}
			
.topics, label, input {cursor:pointer;}
.topicss:hover {color:#e14a07}
			
.variant {display:block; padding:5px 3px; background:#f2f5f6; margin-bottom:1px; font-size:12px;}
.variant:hover {background:#d0e0e4}
			
input[type="submit"].next{
	padding:5px 20px;
	margin-right:35px;
}
			
.comment {border-bottom:1px dotted #444; cursor:pointer;}

.bilet {
	cursor:pointer;
	float:left; 
	border:1px solid #eeeeee; 
	text-align:center; 
	width:40px; 
	padding:10px 0; 
	margin:0px 3px 3px 0px; 
	font-size:14px;
	text-decoration:none;
	color:#086b88;
	background:url('bg.jpg') no-repeat right bottom;
}
.bilet:hover {
	background:#e0edf0;
	border:1px solid #abc9d2
}

#checklink {
	border-bottom:1px dashed #859aa0;
	color:#859aa0;
	font-size:12px;
	font-weight:normal;
	cursor:pointer;
}
#checklink:hover{
	border-bottom:1px dashed #106f89;
	color:#106f89;
}

.zagol {
	float:left;
	margin-right:30px;
	border-bottom:1px dotted #0384d6;
	color:#0384d6;
	margin-bottom:10px;
	cursor:pointer;
	font-size:17px;
	font-weight:bold;
}

.active {
	border:0px;
	color:#005184;
}